body, html {
    font-family: 'Arial', sans-serif;
    background-color: #2c3e50;
    color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100%; 
}

header {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 70px;
    padding-bottom: 20px;
    background-color: #34495e;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

header h1 {
    padding-right: 15px;
}

.socials img {
    display: table-column;
    width: 35%;
}

.profile-content {
    display:flex;
    align-items: center;
    padding-right: 15px;
}

.profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #f39c12; 
    box-shadow: 0px 0px 20px rgba(243, 156, 18, 0.5);
}

.contact-info {
    margin-top: 20px;
}

.side-menu {
    width: 200px;
    font-weight: bold;
    background-color: #2c3e50;
    color: #ffffff; 
    padding-top: 20px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    transition: width 0.3s ease;
    box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.3);
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
}

.side-menu li {
    padding: 10px;
}

.side-menu a {
    color: #ffffff;
    text-decoration: none;
}

.content {
    margin-left: 220px;
    padding: 20px;
}


/* Responsive Styles */

@media screen and (max-width: 768px) {
    header {
        flex-direction: relative;
        bottom: auto;
    }

    .profile {
        margin-bottom: 20px;
    }

    .socials img {
        display: inline;
        width: 15%;
        padding-right: 10%;
    }

    .side-menu {
        width: 100%;
        height: 60px;
        padding-top: 0;
        overflow-x: auto;
        white-space: nowrap;
    }

    .side-menu ul {
        display: flex;
    }

    .side-menu li {
        padding: 10px 20px;
    }

    .content {
        margin-left: 0;
    }

    form {
        display: grid;
    }
}

/* Additional Styles */

/* Table and progress bar */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #333333;
}

th {
    background-color: #f39c12; 
    color: #ffffff;    
}

.progress-bar {
    height: 20px;
    background: linear-gradient(#f39c12, #f39c12); 
    border-radius: 25px;
    box-shadow: 0px 0px 15px rgba(243, 156, 18, 0.5); 
}

button {
    background-color: #f39c12; 
    color: #ffffff; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0px 2px 10px rgba(243, 156, 18, 0.3); 
}

button:hover {
    background-color: #e2890d; 
    box-shadow: 0px 2px 15px rgba(243, 156, 18, 0.5); 
}

.side-menu a:hover {
    color: #2c3e50;
    background: linear-gradient(#f39c12, #f39c12);
    border-radius: 5%;
    border-spacing: 5px;
    border-width: 10px;
    box-shadow: 0px 0px 15px rgba(243, 156, 18, 0.5);
}

/* Hidden */

.skills, .work, .portfolio {
    display: none;
}

/* Form style */

form {
    display: grid;
    gap: 2px;
    align-items: center;
    padding-right: 8%;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}